<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/images/scplogodarkbig.png" alt="logo" width="300" height="auto" style="margin-right: 50px"></a>
            <a class="logo" href="https://idealspine.com"><img loading="lazy" decoding="async" src="/assets/images/cbp-2.png" alt="logo" width="300" height="auto"></a>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">Our Story</a>
                    </li>
                    <li>
                        <a href="/projects">Our Philosophy</a>
                    </li>
                    <li>
                        <a href="/reviews">Directions</a>
                    </li>
                    <li>
                        <a href="/blog">Blog</a>
                    </li>
                </ul>
                <ul><div class="listdiv"></div></ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="/contact">
                            {{client.address.lineOne}}<br>
                            {{client.address.lineTwo}}<br>
                            {{client.address.city}}
                            {{client.address.state}}
                            {{client.address.zip}}
                        </a>
                    </li>
                    <li>
                        <a href="tel:{{602-601-4500}}">
                            T:
                            {{client.phoneFormatted}}
                        </a>
                    </li>
                    <li>
                        <a href="mailto:{{lori@scpchiropractic.com}}">Click to Email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="/" target="_blank" rel="noopener">Coast to Coast LLC</a>
    </div>
</footer>