---
title: 'About'
description: 'Meta description for the page'
preloadImg: '/assets/images/jennajosh.png'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
<!--               Side By Side                   -->
<!-- ============================================ -->

<section id="sbs-866">
    <div class="top-marg"></div>
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Left Image-->
            <picture class="cs-left-img">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy6.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy6.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy6.jpg" alt="therapy" width="439" height="560">
            </picture>
            <!--Right Image-->
            <picture class="cs-right-img">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy.jpg" alt="therapy" width="439" height="560">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">30 Years of Family Care</h2>
            <p class="cs-text">
                Family is at the core of what we do at SCP Chiropractic. Our 3 sons were raised with the same emphasis on holistic health and wellness that we share with everyone who comes to our practice. We have a wholesome, welcoming office environment to ensure our patients know that they're part of the family too. 
            </p>
            <p class="cs-text">
                Our focus as healthcare practitioners is on long-term holistic health. Rather than simply treating symptoms, we take great care to assemble an interconnected understanding of the individual health of our patients, including all the internal and external factors that contribute to the symptoms they are experiencing. With this knowledge, we develop treatment plans and educate our patients to enrich their relationship with their own wellness and empower them to achieve better health. While we hate to see patients go, it is our ultimate goal to get them feeling so confident in the future of their health that they don't need to come in anymore (unless they miss us!).
            </p>
            <a href="/products" class="cs-button-solid">Our Philosophy</a>
        </div>
    </div>
</section>
                                

    {% include 'components/cta.html' %}

{% endblock %}