---
title: 'Our Story'
description: 'Meta description for the page'
preloadImg: '/assets/images/fam.jpg'
permalink: 'about/'
eleventyNavigation:
    key: Our Story
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
<!--               Side By Side                   -->
<!-- ============================================ -->

<section id="sbs-866">
    <div class="top-marg"></div>
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Left Image-->
            <picture class="cs-left-img">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/fammy.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/fammy.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/fammy.jpg" alt="therapy" width="1030" height="970">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Our Story</span>
            <h2 class="cs-title">A Legacy of Family Wellness</h2>
            <p class="cs-text">
                At SCP Chiropractic, we've devoted over three decades to caring for families like yours. Rooted in our own journey raising three sons, we extend the same dedication to holistic health and wellness to every individual who walks through our doors. Our nurturing office environment ensures that every patient feels like a cherished member of our extended family.           </p>
            <p class="cs-text">
                As healthcare practitioners, we prioritize long-term holistic health over quick fixes. Rather than simply addressing symptoms, we take a comprehensive approach to understand the unique health of each patient, considering all internal and external factors at play. Armed with this understanding, we collaborate with our patients to develop personalized treatment plans and empower them with the knowledge to take charge of their wellness journey. While we're sad to see our patients leave, our ultimate goal is to equip them with the confidence and tools they need to thrive independently, until they decide to pay us a visit just to say hello.             </p>
            <a href="/projects" class="cs-button-solid">Our Philosophy</a>
        </div>
    </div>
</section>
 
<!-- ============================================ -->
<!--                Meet The Doctors                 -->
<!-- ============================================ -->

<section id="meet-team-860">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper"></span>
                <h2 class="cs-title">Meet The Doctors</h2>
            </div>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="assets/images/jennajosh.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="assets/images/jennajosh.png">
                    <img loading="lazy" decoding="async" src="assets/images/jennajosh.png" alt="person" width="560" height="323">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Jennifer and Joshua Haggard</span>
                    <span class="cs-job">Doctors of Chiropractic</span>
                    <span class="cs-job"><em>Grad. 1996/1997</em></span>
                </div>
            </li>
        </ul>
    </div>
</section>
                                

    {% include 'components/cta.html' %}

{% endblock %}