/* PAGE-SPECIFIC STYLES FOR THE ABOUT PAGE */
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-866 {
    padding: var(--sectionPadding);
    /* clips overlapping cs-image-group */
    overflow: hidden;
  }
  #sbs-866 .top-marg {
    margin-top: 150px;
  }
  #sbs-866 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
  }
  #sbs-866 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-866 .cs-title {
    /* 20 characters wide including spaces */
    max-width: 20ch;
  }
  #sbs-866 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-866 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-866 .cs-ul {
    margin: 0 0 2rem 0;
    padding: 0;
    columns: 2;
  }
  #sbs-866 .cs-li {
    list-style: none;
    margin: 0 0 0.5rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.75rem;
    position: relative;
  }
  #sbs-866 .cs-li:before {
    /* accent shape */
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    margin-top: 0.5rem;
    background: #bababa;
    border-radius: 0.25rem 0 0.25rem 0;
    display: block;
  }
  #sbs-866 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #sbs-866 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #sbs-866 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbs-866 .cs-image-group {
    /* using ems so we can scale the whole section using a font size min/max. Font size (.61em) max changes at desktop */
    font-size: min(1.61vw, .61em);
    width: 56.125em;
    height: 50.875em;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
  }
  #sbs-866 .cs-image-group:before {
    /* accent shape */
    content: "";
    width: 18.6875em;
    height: 14.625em;
    background: #ffffff00;
    border-radius: 6.25em 0 6.25em 0;
    opacity: 1;
    position: absolute;
    display: block;
    bottom: 0;
    left: 8.75em;
  }
  #sbs-866 .cs-left-img {
    width: 56.125em;
    height: 50.875em;
    border-radius: 0 12.5em 0 12.5em;
    /* clips img corners */
    overflow: hidden;
    display: block;
  }
  #sbs-866 .cs-left-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #sbs-866 .cs-right-img {
    width: 0em;
    height: 0em;
    border-radius: 12.5em 0 12.5em 0;
    /* clips img corners */
    overflow: hidden;
    display: block;
    transform: translateY(6.25em);
  }
  #sbs-866 .cs-right-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-866 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
  }
  #sbs-866 .top-marg {
    margin-top: 150px;
  }
  #sbs-866 .cs-image-group {
    font-size: min(.8vw, 1em);
    /* prevents flexbox from squishing it */
    flex: none;
  }
}
/* Large Desktop 1500px */
@media only screen and (min-width: 93.75rem) {
  #sbs-866 .cs-image-group {
    max-width: 760px;
    height: auto;
    font-size: inherit;
    transform: translateX(-12%);
    /* The cs-image-group is actually REALLY big. It's so big, the design has it overlapping the normal 1280px container by 220px.  This is just a design choice that "breaks" the container and creates a more dynamic design and website. */
  }
  #sbs-866 .cs-content {
    /* we absolutely position the cs-content so the cs-image-group can remain position relative and dictate the height of the section. Since the cs-content is smaller in height, if it remained relative then the height of the container would only be as tall as the .cs-content and the absolutely positioned cs-image-group would overlap into the top and bottom neighboring sections. */
    flex: none;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbs-866 .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #sbs-866 .cs-title,
  body.dark-mode #sbs-866 .cs-text,
  body.dark-mode #sbs-866 .cs-li {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs-866 .cs-text,
  body.dark-mode #sbs-866 .cs-li {
    opacity: 0.8;
  }
  body.dark-mode #sbs-866 .cs-image-group:before {
    opacity: 0.3;
  }
}
/*-- -------------------------- -->
<---       Meet The Team        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #meet-team-860 {
    padding: var(--sectionPadding);
    overflow: hidden;
  }
  #meet-team-860 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #meet-team-860 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    max-width: 33.875rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #meet-team-860 .cs-title {
    max-width: 20ch;
  }
  #meet-team-860 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #meet-team-860 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #meet-team-860 .cs-button-solid:hover:before {
    width: 100%;
  }
  #meet-team-860 .cs-button-solid {
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #meet-team-860 .cs-card-group {
    width: 100%;
    max-width: 39.375rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* 16px - 20px */
    gap: clamp(1rem, 2.3vw, 1.25rem);
    position: relative;
  }
  #meet-team-860 .cs-item {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }
  #meet-team-860 .cs-item:hover .cs-picture:before,
  #meet-team-860 .cs-item:hover .cs-picture:after {
    opacity: 1;
  }
  #meet-team-860 .cs-item:hover .cs-picture img {
    transform: scale(1.1);
  }
  #meet-team-860 .cs-item:hover .cs-info {
    background-color: var(--primary);
  }
  #meet-team-860 .cs-item:hover .cs-name,
  #meet-team-860 .cs-item:hover .cs-job {
    color: var(--bodyTextColorWhite);
  }
  #meet-team-860 .cs-picture {
    width: 100%;
    height: auto;
    margin: 0 0 0.5rem 0;
    /* removed at tablet */
    aspect-ratio: 328/407;
    border-radius: 1rem;
    /* clips the img corners */
    /* clips img tag from overflowing it on hover */
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 1;
  }
  #meet-team-860 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* makes sure the top of the image is at the top of the parent, heads won't get cut off this way */
    object-position: top;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: transform 0.7s;
  }
  #meet-team-860 .cs-info {
    width: 100%;
    padding: 1rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    background-color: #f7f7f7;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s;
  }
  #meet-team-860 .cs-name {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 0.25rem 0;
    color: var(--headerColor);
    display: block;
    transition: color 0.3s;
  }
  #meet-team-860 .cs-job {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin-right: 0;
    color: var(--bodyTextColor);
    display: block;
    transition: color 0.3s;
  }
}
/* Tablet - 600px */
@media only screen and (min-width: 37.5rem) {
  #meet-team-860 .cs-card-group {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }
  #meet-team-860 .cs-item {
    width: 100%;
  }
  #meet-team-860 .cs-picture {
    height: 25.4375rem;
    /* remove the aspect ratio so the height can be squished */
    aspect-ratio: initial;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 56.25rem) {
  #meet-team-860 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
  }
  #meet-team-860 .cs-content {
    text-align: left;
    width: 55%;
    flex-direction: column;
    align-items: flex-start;
  }
  #meet-team-860 .cs-card-group {
    justify-content: center;
    flex-wrap: nowrap;
  }
  #meet-team-860 .cs-item {
    width: 100%;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #meet-team-860 .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #meet-team-860 .cs-title,
  body.dark-mode #meet-team-860 .cs-name,
  body.dark-mode #meet-team-860 .cs-job {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #meet-team-860 .cs-job {
    opacity: 0.8;
  }
  body.dark-mode #meet-team-860 .cs-info {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
