/*-- -------------------------- -->
<---        Why Choose          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #why-choose-505 {
    padding: var(--sectionPadding);
  }
  #why-choose-505 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375em;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #why-choose-505 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #why-choose-505 .cs-title {
    max-width: 20ch;
  }
  #why-choose-505 .cs-text {
    max-width: 31.5rem;
  }
  #why-choose-505 .cs-text:before {
    /* divider line */
    content: "";
    width: 7.8125rem;
    height: 3px;
    margin-bottom: 1rem;
    background: var(--primary);
    opacity: 1;
    display: block;
    position: relative;
  }
  #why-choose-505 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: column;
    /* 16px - 20px */
    gap: clamp(1rem, 1.5vw, 1.25rem);
  }
  #why-choose-505 .cs-item {
    list-style: none;
    width: 100%;
    margin-right: 0;
    /* 24px - 28px top & bottom */
    /* 16px - 40px left & right */
    padding: clamp(1.5rem, 3vw, 1.75rem) clamp(1rem, 2.5vw, 2.5rem);
    border-bottom: 8px solid var(--primary);
    box-shadow: 0px 19px 33px rgba(94, 94, 94, 0.13);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  #why-choose-505 .cs-icon {
    width: auto;
    height: 4.375rem;
    margin-bottom: 2.5rem;
  }
  #why-choose-505 .cs-h3 {
    /* 25px - 31px */
    font-size: clamp(1.5625rem, 2.5vw, 1.9375rem);
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
    line-height: 1.2em;
    margin: 0;
    margin-bottom: 1rem;
    color: var(--headerColor);
  }
  #why-choose-505 .cs-item-text {
    font-size: 1rem;
    text-align: left;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #why-choose-505 .cs-container {
    max-width: 80rem;
  }
  #why-choose-505 .cs-content {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #why-choose-505 .cs-flex {
    width: 50%;
    max-width: 34.375rem;
    flex: none;
  }
  #why-choose-505 .cs-topper,
  #why-choose-505 .cs-title {
    text-align: right;
  }
  #why-choose-505 .cs-title {
    margin: 0;
  }
  #why-choose-505 .cs-text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #why-choose-505 .cs-text:before {
    width: 3px;
    height: 7.8125rem;
    /* 24px - 28px */
    margin: 0 clamp(1.5rem, 3vw, 1.75rem);
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #why-choose-505 .cs-card-group {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  #why-choose-505 .cs-item {
    width: 100%;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #why-choose-505 .cs-title,
  body.dark-mode #why-choose-505 .cs-text,
  body.dark-mode #why-choose-505 .cs-h3,
  body.dark-mode #why-choose-505 .cs-item-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #why-choose-505 .cs-item {
    background-color: var(--medium);
  }
}
.cs-button-5 {
  text-align: center;
  font-size: 1rem;
  /* 46px - 56px */
  line-height: clamp(2.875rem, 8vw, 3.5rem);
  text-decoration: none;
  font-weight: 700;
  min-width: 4rem;
  margin: 2rem auto;
  width: 200px;
  color: #1a1a1a;
  padding: 1.2rem 1.5rem;
  /* prevents padding and border from affecting height and width */
  box-sizing: border-box;
  background-color: #fff;
  border: 2px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: color 0.3s;
}
.cs-button-5 .cs-button-text {
  display: block;
  /* we translate it up so it looks centered in the white space. The black :before element takes up space at the bottom and makes it looks off-center */
  transform: translateY(-0.125rem);
  transition: transform 0.3s;
}
.cs-button-5:before {
  content: "";
  width: 100%;
  height: 0.375rem;
  background: --primary;
  opacity: 1;
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  transition: height 0.3s;
  z-index: -1;
}
.cs-button-5:hover {
  color: #fff;
}
.cs-button-5:hover .cs-button-text {
  transform: translateY(0);
}
.cs-button-5:hover:before {
  height: 100%;
}
/* Mobile - 360px */
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews-355 {
    padding: var(--sectionPadding);
  }
  #reviews-355 .cs-container {
    width: 100%;
    max-width: 90rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #reviews-355 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #reviews-355 .cs-card-group {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* 16px - 20px */
    gap: clamp(1rem, 2.5vw, 1.15rem);
  }
  #reviews-355 .cs-item {
    list-style: none;
    width: 100%;
    max-width: 39.375rem;
    margin: 0;
    /* 24px - 32px top & bottom */
    /* 16px - 40px left & right */
    padding: clamp(1.5rem, 3.15vw, 2rem) clamp(1rem, 3.15vw, 2.5rem);
    background-color: #f7f7f7;
    border-radius: 1rem;
    /* prevents padding from adding to height and width */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
  }
  #reviews-355 .cs-quote {
    width: 2.5rem;
    height: auto;
    margin-bottom: 2rem;
    display: block;
  }
  #reviews-355 .cs-review {
    /* 14px - 20px */
    font-size: clamp(0.875rem, 2vw, 1.25rem);
    line-height: 1.5em;
    margin: 0;
    /* 20px - 40px */
    margin-bottom: clamp(1.25rem, 3vw, 2.5rem);
    color: var(--bodyTextColor);
  }
  #reviews-355 .cs-name {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 3vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
    margin-top: auto;
    color: var(--headerColor);
    display: block;
  }
  #reviews-355 .cs-job {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.6vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
    display: block;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews-355 .cs-card-group {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
  }
  #reviews-355 .cs-item {
    width: clamp(31.5%, 30vw, 32.3%);
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #reviews-355 .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #reviews-355 .cs-title,
  body.dark-mode #reviews-355 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #reviews-355 .cs-item {
    background-color: var(--accent);
  }
  body.dark-mode #reviews-355 .cs-review,
  body.dark-mode #reviews-355 .cs-name {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #reviews-355 .cs-job {
    color: var(--bodyTextColorWhite);
    opacity: 0.7;
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
@media only screen and (min-width: 0rem) {
  #services-468 {
    padding: var(--sectionPadding);
    position: relative;
  }
  #services-468 .cs-container {
    width: 100%;
    /* changes to 1440px at 768px */
    max-width: 34.375em;
    margin: auto;
  }
  #services-468 .cs-card-group {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    /* 8px - 20px */
    column-gap: clamp(0.5rem, 1.5vw, 1.25rem);
    row-gap: 1.25rem;
  }
  #services-468 .cs-item {
    width: 48.5%;
    list-style: none;
    /* 24px - 48px top and bottom */
    padding: clamp(1.5rem, 4vw, 3rem) 1.5rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    border-radius: 0.75rem;
    background-color: #fff;
    border: 1px solid #b4b2c7;
    box-shadow: 0px 24px 54px rgba(87, 107, 147, 0.12);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 12px - 24px */
    gap: clamp(0.875rem, 2vw, 2rem);
    position: relative;
    transition: border-color 0.3s;
  }
  #services-468 .cs-item:before {
    /* green border on hover */
    content: "";
    width: 100%;
    height: 100%;
    background: transparent;
    /* prevents mouse from interacting with it */
    pointer-events: none;
    border: 4px solid var(--primaryLight);
    box-sizing: border-box;
    /* prevents border from affecting height and width */
    border-radius: 0.625rem;
    opacity: 0;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    transition: opacity 0.3s;
  }
  #services-468 .cs-item:hover {
    border-color: var(--primaryLight);
  }
  #services-468 .cs-item:hover:before {
    opacity: 1;
  }
  #services-468 .cs-item:nth-of-type(5) {
    width: 100%;
  }
  #services-468 .cs-icon {
    /* 44px - 90px */
    width: clamp(2.75rem, 6vw, 5.625rem);
    height: auto;
  }
  #services-468 .cs-h3 {
    /* 16px - 25px */
    font-size: clamp(1rem, 2vw, 1.5625rem);
    line-height: 1.2em;
    text-align: center;
    margin: 0;
    color: var(--headerColor);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-468 .cs-container {
    max-width: 90rem;
  }
  #services-468 .cs-card-group {
    flex-wrap: nowrap;
    flex-direction: row;
  }
  #services-468 .cs-item {
    width: 100%;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #services-468 .cs-item {
    background-color: var(--accent);
  }
  body.dark-mode #services-468 .cs-icon {
    /* makes icons turn grey and brighten them up */
    filter: grayscale(1) brightness(1000%);
  }
  body.dark-mode #services-468 .cs-h3 {
    color: var(--bodyTextColorWhite);
  }
}
/*-- -------------------------- -->
<---      Contact Strip         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #contact-strip-1111 {
    padding: var(--sectionPadding);
    background-color: #f7f7f7;
    position: relative;
    z-index: 1;
  }
  #contact-strip-1111 .cs-stat-group {
    width: 100%;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* reduced to 24px at tablet */
    gap: 2.5rem;
  }
  #contact-strip-1111 .cs-item {
    list-style: none;
    width: 18.125rem;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #contact-strip-1111 .cs-item:hover .cs-picture {
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transform: scale(1.1);
  }
  #contact-strip-1111 .cs-picture {
    /* 48px - 80px */
    width: clamp(3rem, 5.7vw, 5rem);
    height: clamp(3rem, 5.7vw, 5rem);
    /* 12px - 20px */
    margin-right: clamp(0.75rem, 1.5vw, 1.25rem);
    border-radius: 50%;
    border: 1px solid var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    /* prevents flexbox from squishing it */
    flex: none;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.6s;
  }
  #contact-strip-1111 .cs-flex-group {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  #contact-strip-1111 .cs-icon {
    /* 20px - 40px */
    width: clamp(1.25rem, 2.5vw, 2.5rem);
    height: auto;
  }
  #contact-strip-1111 .cs-header {
    font-size: 1.25rem;
    color: var(--bodyTextColorBlack);
    font-weight: 900;
    line-height: 1.2em;
    margin: 0;
    margin-bottom: 0.75rem;
    display: block;
  }
  #contact-strip-1111 .cs-address,
  #contact-strip-1111 .cs-link {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    text-decoration: none;
    color: var(--bodyTextColorBlack);
    display: block;
  }
  #contact-strip-1111 .cs-link:hover {
    text-decoration: underline;
  }
  #contact-strip-1111 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #contact-strip-1111 .cs-background:before {
    /* background color overlay */
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #1a1a1a;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #contact-strip-1111 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #contact-strip-1111 .cs-stat-group {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem;
  }
  #contact-strip-1111 .cs-item {
    width: auto;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #contact-strip-1111 {
    background-color: rgba(0, 0, 0, 0.2);
  }
  body.dark-mode #contact-strip-1111 .cs-title,
  body.dark-mode #contact-strip-1111 .cs-text,
  body.dark-mode #contact-strip-1111 .cs-number,
  body.dark-mode #contact-strip-1111 .cs-desc {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #contact-strip-1111 .cs-wave path {
    fill: var(--dark);
  }
}
