/* PAGE-SPECIFIC STYLES FOR THE PROJECTS PAGE */
/*-- -------------------------- -->
<---          Content           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #content-1638 {
    padding: var(--sectionPadding);
    background-color: #f7f7f7;
    position: relative;
    z-index: 1;
  }
  #content-1638 .top-marg {
    margin-top: 150px;
  }
  #content-1638 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 100px */
    gap: clamp(3rem, 9vw, 6.25rem);
  }
  #content-1638 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #content-1638 .cs-flex {
    max-width: 38rem;
  }
  #content-1638 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
  }
  #content-1638 .cs-text {
    margin-bottom: 1rem;
  }
  #content-1638 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #content-1638 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #content-1638 .cs-button-solid:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #content-1638 .cs-button-solid:hover:before {
    width: 100%;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #content-1638:before {
    height: 63%;
  }
  #content-1638 .cs-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2.5rem;
  }
  #content-1638 .top-marg {
    margin-top: 150px;
  }
  #content-1638 .cs-flex {
    width: 50%;
    text-align: left;
    max-width: 38rem;
  }
  #content-1638 .cs-title {
    margin: 0;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #content-1638 {
    background-color: rgba(0, 0, 0, 0.2);
  }
  body.dark-mode #content-1638 .cs-title,
  body.dark-mode #content-1638 .cs-text,
  body.dark-mode #content-1638 .cs-h3,
  body.dark-mode #content-1638 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #content-1638 .cs-text {
    opacity: 0.8;
  }
}
