/* PAGE-SPECIFIC STYLES FOR THE ABOUT PAGE */


/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-866 {
        padding: var(--sectionPadding);
        /* clips overlapping cs-image-group */
        overflow: hidden;
        .top-marg {
            margin-top: 150px;
        }
        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (522/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-title {
            /* 20 characters wide including spaces */
            max-width: 20ch;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-ul {
            margin: 0 0 (32/16rem) 0;
            padding: 0;
            columns: 2;
        }

        .cs-li {
            list-style: none;
            margin: 0 0 (8/16rem) 0;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: (12/16rem);
            position: relative;

            &:before {
                /* accent shape */
                content: "";
                width: (8/16rem);
                height: (8/16rem);
                margin-top: (8/16rem);
                background: #bababa;
                border-radius: (4/16rem) 0 (4/16rem) 0;
                display: block;
            }
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-image-group {
            /* using ems so we can scale the whole section using a font size min/max. Font size (.61em) max changes at desktop */
            font-size: ~"min(1.61vw, .61em)";
            width: (898/16em);
            height: (814/16em);
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            position: relative;

            &:before {
                /* accent shape */
                content: "";
                width: (299/16em);
                height: (234/16em);
                background: #ffffff00;
                border-radius: (100/16em) 0 (100/16em) 0;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: 0;
                left: (140/16em);
            }
        }

        .cs-left-img {
            width: (898/16em);
            height: (814/16em);
            border-radius: 0 (200/16em) 0 (200/16em);
            /* clips img corners */
            overflow: hidden;
            display: block;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .cs-right-img {
            width: (0em);
            height: (0em);
            border-radius: (200/16em) 0 (200/16em) 0;
            /* clips img corners */
            overflow: hidden;
            display: block;
            transform: translateY(6.25em);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-866 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
        }
        .top-marg {
            margin-top: 150px;
        }
        .cs-image-group {
            font-size: ~"min(.8vw, 1em)";
            /* prevents flexbox from squishing it */
            flex: none;

        }
    }
}

/* Large Desktop 1500px */
@media only screen and (min-width: 93.75rem) {
    #sbs-866 {
        .cs-image-group {
            max-width: 850px;
            height: auto;
            font-size: inherit;
            transform: translateX(-20%);
            /* The cs-image-group is actually REALLY big. It's so big, the design has it overlapping the normal 1280px container by 220px.  This is just a design choice that "breaks" the container and creates a more dynamic design and website. */
        }

        .cs-content {
            /* we absolutely position the cs-content so the cs-image-group can remain position relative and dictate the height of the section. Since the cs-content is smaller in height, if it remained relative then the height of the container would only be as tall as the .cs-content and the absolutely positioned cs-image-group would overlap into the top and bottom neighboring sections. */
            flex: none;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs-866 {
            .cs-topper {
                color: var(--primaryLight);
            }
            .cs-title,
            .cs-text,
            .cs-li {
                color: var(--bodyTextColorWhite);
            }

            .cs-text,
            .cs-li {
                opacity: 0.8;
            }

            .cs-image-group {
                &:before {
                    opacity: 0.3;
                }
            }
        }
    }
}

                                
/*-- -------------------------- -->
<---       Meet The Team        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #meet-team-860 {
        padding: var(--sectionPadding);
        overflow: hidden;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: (542/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            max-width: 20ch;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-button-solid {
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-card-group {
            width: 100%;
            max-width: (630/16rem);
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* 16px - 20px */
            gap: clamp(1rem, 2.3vw, 1.25rem);
            position: relative;
        }

        .cs-item {
            list-style: none;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            position: relative;

            &:hover {
                .cs-picture {
                    &:before,
                    &:after {
                        opacity: 1;
                    }

                    img {
                        transform: scale(1.1);
                    }
                }

                .cs-info {
                    background-color: var(--primary);
                }

                .cs-name,
                .cs-job {
                    color: var(--bodyTextColorWhite);
                }
            }
        }

        .cs-picture {
            width: 100%;
            height: auto;
            margin: 0 0 (8/16rem) 0;
            /* removed at tablet */
            aspect-ratio: 328/407;
            border-radius: (16/16rem);
            /* clips the img corners */
            overflow: hidden;
            /* clips img tag from overflowing it on hover */
            overflow: hidden;
            display: block;
            position: relative;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                /* makes sure the top of the image is at the top of the parent, heads won't get cut off this way */
                object-position: top;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: transform 0.7s;
            }
        }

        .cs-info {
            width: 100%;
            padding: (16/16rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            background-color: #f7f7f7;
            border-radius: (12/16rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: background-color 0.3s;
        }

        .cs-name {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 (4/16rem) 0;
            color: var(--headerColor);
            display: block;
            transition: color 0.3s;
        }

        .cs-job {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin-right: 0;
            color: var(--bodyTextColor);
            display: block;
            transition: color 0.3s;
        }
    }
}

/* Tablet - 600px */
@media only screen and (min-width: 37.5rem) {
    #meet-team-860 {
        .cs-card-group {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: stretch;
        }

        .cs-item {
            width: 100%;
        }

        .cs-picture {
            height: (407/16rem);
            /* remove the aspect ratio so the height can be squished */
            aspect-ratio: initial;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 56.25rem) {
    #meet-team-860 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
        }

        .cs-content {
            text-align: left;
            width: 55%;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-card-group {
            justify-content: center;
            flex-wrap: nowrap;
        }

        .cs-item {
            width: 100%;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #meet-team-860 {
            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-title,
            .cs-name,
            .cs-job {
                color: var(--bodyTextColorWhite);
            }

            .cs-job {
                opacity: 0.8;
            }

            .cs-info {
                background-color: fade(#000, 20%);
            }
        }
    }
}

                                