---
title: 'Pixel Perfect Websites'
description: 'Meta description for the page'
preloadImg: '/assets/images/scpfronty.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}
   
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-855">
    <div class="top-marg"></div>
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Modern and Professional</span>
            <h1 class="cs-title">Physical Therapy & Health and Wellness</h1>
            <p class="cs-text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus unde id saepe quo. Est, ea! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id, provident? Lorem ipsum dolor sit amet consectetur adipisicing.
            </p>
            <a href="tel:602-631-4500" class="cs-button-solid">Call Us to Schedule An Appointment</a>
        </div>
        <!--Hero Image-->
        <picture class="cs-picture">
            <!--Mobile-->
            <source media="(max-width: 600px)" srcset="/assets/images/scpfronty.jpg">
            <!--Tablet-->
            <source media="(min-width: 601px)" srcset="/assets/images/scpfronty.jpg">
            <!--Desktop-->
            <source media="(min-width: 1024px)" srcset="/assets/images/scpfronty.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/scpfronty.jpg" alt="therapy" width="570" height="701">
            </picture>
    </div>
    <!--Change the svg path fill color to whatever color the section below is so you can match it and create the illusion it is all one piece-->
    <svg class="cs-wave" width="1920" height="179" viewBox="0 0 1920 179" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1920 179V91.3463C1835.33 91.3463 1715.47 76.615 1549.2 32.9521C1299.48 -32.3214 1132.77 12.1006 947.32 61.5167C810.762 97.9044 664.042 137 466.533 137C331.607 137 256.468 123.447 188.082 111.113C130.974 100.812 78.5746 91.3609 0 91.3609V179H1920Z" fill="white"/>
    </svg>
</section>
                        

<!-- ============================================ -->
<!--                  Hours                       -->
<!-- ============================================ -->
<section id="services-468">
    <div class="cs-container">
        <span class="cs-topper" style="text-align: center; margin-bottom: 10px;">Office Hours</span>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" src="/assets/svgs/monday-svgrepo-com.svg" loading="lazy" decoding="async" alt="icon" width="90" height="90">
                <h3 class="cs-h3">12pm - 6pm</h3>
            </li>
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" src="/assets/svgs/tuesday-svgrepo-com.svg" loading="lazy" decoding="async" alt="icon" width="90" height="90">
                <h3 class="cs-h3">12pm - 6pm</h3>
            </li>
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" src="/assets/svgs/wednesday-svgrepo-com.svg" loading="lazy" decoding="async" alt="icon" width="90" height="90">
                <h3 class="cs-h3">12pm - 6pm</h3>
            </li>
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" src="/assets/svgs/thursday-svgrepo-com.svg" loading="lazy" decoding="async" alt="icon" width="90" height="90">
                <h3 class="cs-h3">8am - 2pm</h3>
            </li>
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" src="/assets/svgs/friday-svgrepo-com.svg" loading="lazy" decoding="async" alt="icon" width="90" height="90">
                <h3 class="cs-h3">8am - 2pm</h3>
            </li>
        </ul>
    </div>
</section>
           <!-- ============================================ -->
<!--                Contact Strip                 -->
<!-- ============================================ -->

<!-- No headers, so no section tag -->
<div id="contact-strip-1111">
    <span class="cs-topper" style="text-align: center; margin-bottom: 10px;">Get in Touch</span>
    <ul class="cs-stat-group">
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-phone.svg" alt="icon" width="35" height="40" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-header">Call Us!</span>
                <a href="tel:602-631-4500" class="cs-link">+1 (602) 631 4500</a>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-email.svg" alt="icon" width="40" height="35" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-header">Email Us!</span>
                <a href="mailto:lori@scpchiropractic.com" class="cs-link">Info@scpchiropractic.com</a>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-pin.svg" alt="icon" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-header">Come In!</span>
                <span class="cs-address">4767 N 20th Street
                     Phoenix, AZ, 85016</span>
            </div>
        </li>
    </ul>

</div>
                                                     
                                                  
<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-355">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Trusted by Hundreds of Patients</h2>
            <p class="cs-text">
                At Stitch Cleaning Service, let us help you solve problems so that you can focus on your mission. We support businesses through periods of expansion, succession.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-quote" aria-hidden="true" src="/assets/svgs/quotes.svg" decoding="async" alt="quote icon" width="40" height="33">
                <p class="cs-review">
                    I have used CleanPro service for about four years. I describe myself very picky and difficult to be pleased. Exceeded my expectations. 
                </p>
                <span class="cs-name">John Doe</span>
                <span class="cs-job">Chief Executive</span>
            </li>
            <li class="cs-item">
                <img class="cs-quote" aria-hidden="true" src="/assets/svgs/quotes.svg" decoding="async" alt="quote icon" width="40" height="33">
                <p class="cs-review">
                    I have used CleanPro service for about four years. I describe myself very picky and difficult to be pleased. Exceeded my expectations.
                </p>
                <span class="cs-name">Robert Henrich</span>
                <span class="cs-job">CEO, HK Traders</span>
            </li>
            <li class="cs-item">
                <img class="cs-quote" aria-hidden="true" src="/assets/svgs/quotes.svg" decoding="async" alt="quote icon" width="40" height="33">
                <p class="cs-review">
                    I have used CleanPro service for about four years. I describe myself very picky and difficult to be pleased. Exceeded my expectations.
                </p>
                <span class="cs-name">Robert Henrich</span>
                <span class="cs-job">CEO, HK Traders</span>
            </li>
        </ul>
    </div>
</section>
                                
{% endblock %}