---
title: 'Chiropractic Care'
description: 'Main Page'
preloadImg: '/assets/images/scpfronty.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}
   
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-855">
    <div class="top-marg"></div>
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Practitioners of Chiropractic Biophysics</span>
            <h1 class="cs-title" id="hero-title">Holistic Health and Wellness</h1>
            <p class="cs-text" id="hero-text">
                Chiropractic care for all (newborns and up). We treat spines from the womb to the tomb!
            </p>
            <a href="/projects" class="cs-button-solid">Our Philosophy and Treatment Methodology</a>
            <div style="margin-top: 5px;"></div>
            <a href="tel:602-631-4500" class="cs-button-solid">Call Us to Schedule An Appointment</a>
        </div>

        <!-- Hero Image -->
        <div class="image-container">
            <button id="prev" class="arrow">❮</button>
            <div class="cs-picture">
                <img id="hero-image" src="/assets/images/scpfronty.jpg" alt="therapy" width="570" height="701">
            </div>
            <button id="next" class="arrow">❯</button>
        </div>
    </div>

    <svg class="cs-wave" width="1920" height="179" viewBox="0 0 1920 179" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1920 179V91.3463C1835.33 91.3463 1715.47 76.615 1549.2 32.9521C1299.48 -32.3214 1132.77 12.1006 947.32 61.5167C810.762 97.9044 664.042 137 466.533 137C331.607 137 256.468 123.447 188.082 111.113C130.974 100.812 78.5746 91.3609 0 91.3609V179H1920Z" fill="white"/>
    </svg>
</section>

                        

<!-- ============================================ -->
<!--                  Hours                       -->
<!-- ============================================ -->
<section id="services-468">
    <div class="cs-container">
        <span class="cs-topper" style="text-align: center; margin-bottom: 20px; font-size: 16/16rem;">Office Hours for the Work Week Starting Monday, May 26th</span>
    
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" src="/assets/svgs/monday-svgrepo-com.svg" loading="lazy" decoding="async" alt="icon" width="90" height="90">
                <h3 class="cs-h3">12pm - 6pm (Last appointment 5:45)</h3>
            </li>
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" src="/assets/svgs/tuesday-svgrepo-com.svg" loading="lazy" decoding="async" alt="icon" width="90" height="90">
                <h3 class="cs-h3">12pm - 6pm (Last appointment 5:45)</h3>
            </li>
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" src="/assets/svgs/wednesday-svgrepo-com.svg" loading="lazy" decoding="async" alt="icon" width="90" height="90">
                <h3 class="cs-h3">12pm - 6pm (Last appointment 5:45)</h3>
            </li>
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" src="/assets/svgs/thursday-svgrepo-com.svg" loading="lazy" decoding="async" alt="icon" width="90" height="90">
                <h3 class="cs-h3">8am - 2pm (Last appointment 1:45)</h3>
            </li>
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" src="/assets/svgs/friday-svgrepo-com.svg" loading="lazy" decoding="async" alt="icon" width="90" height="90">
                <h3 class="cs-h3">8am - 2pm (Last appointment 1:45)</h3>
            </li>
        </ul>
    </div>
</section>
           <!-- ============================================ -->
<!--                Contact Strip                 -->
<!-- ============================================ -->

<!-- No headers, so no section tag -->
<div id="contact-strip-1111">
    <span class="cs-topper" style="text-align: center; margin-bottom: 20px; font-size: 16/16rem;">Get in Touch</span>
    <ul class="cs-stat-group">
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-phone.svg" alt="icon" width="35" height="40" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-header">Call Us!</span>
                <a href="tel:602-631-4500" class="cs-link">+1 (602) 631 4500</a>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-email.svg" alt="icon" width="40" height="35" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-header">Email Us!</span>
                <a href="mailto:lori@scpchiropractic.com" class="cs-link">Lori@scpchiropractic.com</a>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-pin.svg" alt="icon" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-header">Come In!</span>
                <span class="cs-address">4767 N 20th Street
                     Phoenix, AZ, 85016</span>
            </div>
        </li>
    </ul>

</div>
                                                     
                                                  
<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-355">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Trusted by Thousands of Patients</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-quote" aria-hidden="true" src="/assets/svgs/quotes.svg" decoding="async" alt="quote icon" width="40" height="33">
                <p class="cs-review">
                    I started to see Dr. Josh well over ten (10) years ago after a roll over car accident and many trips to several "other" Doctors. I was in such pain and on too many meds, Dr. Josh is a miracle worker! He is extremely good at his job! I will NOT go to any other Dr. I have three (3) special needs children who as well see Dr. Josh and Dr. Jenna. I have moved to Prescott Az. and I still take my family into to SCP. They are the best Chiropractic there is in the State of Az.!!!
                </p>
                <span class="cs-name">Lynn McMurray</span>
            </li>
            <li class="cs-item">
                <img class="cs-quote" aria-hidden="true" src="/assets/svgs/quotes.svg" decoding="async" alt="quote icon" width="40" height="33">
                <p class="cs-review">
                    This place is a chiropractic experience unlike any I've had before. This is not a place to come if you want to get "cracked" and head home. A course of action is created for each patient, with a plan to create a healthy spinal alignment.  There is a lot of equipment in the room to help generate those changes.  Dr's Josh and Jenna are gentle and careful (except when they are digging into those knots they're so good at finding!).
                </p>
                <span class="cs-name">Laurie K.</span>
            </li>
            <li class="cs-item">
                <img class="cs-quote" aria-hidden="true" src="/assets/svgs/quotes.svg" decoding="async" alt="quote icon" width="40" height="33">
                <p class="cs-review">
                    Every time I walk into this place I imagine myself bowing and saying "I'm not worthy"! This guy is AWESOME! I walk in, barely, in intense pain and walk out with a big empty space where the pain used to be. No soreness no tenderness it's amazing. I've been to a couple others in the past but this guy out shines them all by leaps and bounds. I can't say enough.
                </p>
                <span class="cs-name">Mark Ballestro</span>
            </li>
        </ul>
    </div>
</section>

<script>
    const images = [
        {
            src: "/assets/images/newfront.jpg",
            title: "Holistic Health and Wellness",
            text: "Chiropractic care for all (newborns and up)."
        },
        {
            src: "/assets/images/adjust.jpg",
            title: "Therapies Offered",
            text: "Musculature/Joint Manipulation and Kinesio Taping"
        },
        {
            src: "/assets/images/roller.jpg",
            title: "Therapies Offered",
            text: "Mechanical Dynamic Traction and Compression Therapy"
        },
        {
            src: "/assets/images/plate.jpg",
            title: "Therapies Offered",
            text: "PowerPlate Vibration Therapy and Exercise Therapy"
        },
        {
            src: "/assets/images/table.jpg",
            title: "Therapies Offered",
            text: "Postural Traction using Berry Translation Tables"
        },
        {
            src: "/assets/images/traction.jpg",
            title: "Therapies Offered",
            text: "Upright Postural Traction Therapy"
        },
        {
            src: "/assets/images/distraction.jpg",
            title: "Therapies Offered",
            text: "Flexion-Distraction Therapy and Laser Light Therapy"
        },
        {
            src: "/assets/images/sissy.jpg",
            title: "Therapies Offered",
            text: "Myofascial Release Therapy"
        }
    ];

    let currentIndex = 0;

    function updateContent() {
        const imageElement = document.getElementById("hero-image");
        const titleElement = document.getElementById("hero-title");
        const textElement = document.getElementById("hero-text");

        imageElement.src = images[currentIndex].src;
        titleElement.textContent = images[currentIndex].title;
        textElement.textContent = images[currentIndex].text;
    }

    document.getElementById("prev").addEventListener("click", () => {
        currentIndex = (currentIndex > 0) ? currentIndex - 1 : images.length - 1;
        updateContent();
    });

    document.getElementById("next").addEventListener("click", () => {
        currentIndex = (currentIndex < images.length - 1) ? currentIndex + 1 : 0;
        updateContent();
    });

    // Initialize the content
    updateContent();



</script>

{% endblock %}
